<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Extension Explorer"
            id="com.google.abreslav.epexplorer">
      </category>
      <view
            name="Extensions View"
            icon="icons/schema_obj.gif"
            category="com.google.abreslav.epexplorer"
            class="com.google.abreslav.epexplorer.views.ExtensionsView"
            id="com.google.abreslav.epexplorer.views.ExtensionsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.google.abreslav.epexplorer.views.ExtensionsView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
